
/* BASSCSS Base */

:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --space-1: .5em;
  --space-2: 1em;
  --space-3: 2em;
  --space-4: 4em;

  --ui-height: 2em;
  --ui-padding-x: .75em;
  --ui-padding-y: .25em;

}

@import "./lib/reset.css";
@import "./lib/typography.css";
@import "./lib/forms.css";
@import "./lib/buttons.css";

